<template>
<div>
    <notifications group="foo" position="center"/>
    <!-- Main Wrapper Start -->
    <div class="main-wrapper">
        <!-- header-area start -->
        <div class="header-area">
            <!-- header-top start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p>WRITER! </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- language-currency-wrapper start -->
                            <div v-if="auth==='yes'" class="language-currency-wrapper">
                                <ul>
                                    <li class="drodown-show"><a href="#">$ {{formatPrice(wallet)}} <i class="ion-ios-arrow-down"></i></a>
                                    </li>
                                    <li class="drodown-show"><a href="#"><img src="" alt=""> {{name}} <i class="ion-ios-arrow-down"></i></a>
                                    </li>

                                </ul>
                            </div>
                            <!-- language-currency-wrapper end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top end -->
            <div class="header-bottom-area header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-5 col-5">
                            <div class="logo">
                                <a href="/"><img src="/images/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8 d-none d-lg-block">
                            <div class="main-menu-area text-center">
                                <nav class="main-navigation">
                                    <ul>
                                        <li  class="active"><a href="/">Home</a></li>
                                        <li v-if="auth==='yes'"  ><router-link :to="{ name: 'home' }" href="/">Dashboard</router-link></li>
                                        <li><a href="#">Services</a>
                                            <ul class="mega-menu">
                                                <li><a href="#"></a>
                                                    <ul>
                                                        <li><a href="#">Admission Essay</a></li>
                                                        <li><a href="#">Editing</a></li>
                                                        <li><a href="#">Course Work Writing</a></li>
                                                        <li><a href="#">Dissertation</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"></a>
                                                    <ul>
                                                        <li><a href="#">Research Papers</a></li>
                                                        <li><a href="#">Essay</a></li>
                                                        <li><a href="#">Term Paper</a></li>
                                                        <li><a href="#">Proof Reading</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"></a>
                                                    <ul>
                                                        <li><a href="#">Academic Writing</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        <li><router-link :to="{ name: 'about' }" href="#">About</router-link></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-7 col-7">
                            <div class="right-blok-box d-flex">
                                <div class="search-wrap">
                                    <a href="#" class="trigger-search"><i class="icon-magnifier"></i></a>
                                </div>

                                <div class="user-wrap" >
                                    <router-link :to="{ name: 'login' }" href="#" v-if="auth!=='yes'"><i class="icon-login"></i></router-link>
                                </div>

                                <div class="shopping-cart-wrap" v-if="auth==='yes'">
                                    <a href="#"><i class="icon-user"></i> <span id="cart-total"></span></a>
                                    <ul class="mini-cart">
                                        <li class="cart-item">
                                            <div class="cart-image">
                                                <a href="https://demo.hasthemes.com/fusta/single-product.html"><img alt="" src="/images/auth.PNG"></a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="https://demo.hasthemes.com/fusta/single-product.html"><h4>{{name}}</h4></a>
                                            </div>

                                        </li>
                                        <li class="subtotal-titles">
                                            <div class="subtotal-titles"><h3>Wallet :</h3><span>$ {{formatPrice(wallet)}}</span></div>
                                        </li>

                                        <li class="mini-cart-btns">
                                            <div class="cart-btns">
                                                <a href="#" @click="logout()">Logout</a>
                                                <router-link :to="{ name: 'profile' }"   href="#">Profile</router-link>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mobile-menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->

        <!-- main-search start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><span class="icon-close"></span></button>
            </div>
            <div class="sidebar-search-input">
                <form>
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                        <button class="search-btn" type="button">
                            <i class="icon-magnifier"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- main-search start -->



    <router-view></router-view>

        <!-- footer-area start -->
        <footer class="footer-area">
            <div class="footer-top pt-40 pb--100">

            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6  col-md-6"><div class="copyright">
                            <p>Copyright ©DevMyEssay All Right Reserved.</p>
                        </div></div>
                        <div class="col-lg-6 col-md-6">
                            <div class="footer-social">
                                <div class="payment-cart">
                                    <img src="/assets/images/icon/1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area end -->

    </div>
</div>
</template>
<script>
    export default {
        data() {
            return {
                name:'',
                wallet:'',
                auth:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.wallet=localStorage.getItem('wallet');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.wallet=localStorage.getItem('wallet');
            }
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
