<template>
    <div>


        <div class="container">
            <div class="row">
                <Navbar></Navbar>
                <div class="col-lg-10">
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane active" id="dashboard">
                            <h3> </h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">


                                    <div class="row w-100">
                                        <div class="col-md-3">
                                            <div class="card border-info mx-sm-1 p-3">
                                                <div class="card border-info shadow text-info p-3 my-card" ><span class="icon-clock" aria-hidden="true"></span></div>
                                                <div class="text-info text-center mt-3"><h4>Queue</h4></div>
                                                <div class="text-info text-center mt-2"><h3>{{pending}}</h3></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card border-success mx-sm-1 p-3">
                                                <div class="card border-success shadow text-success p-3 my-card"><span class="icon-loop" aria-hidden="true"></span></div>
                                                <div class="text-success text-center mt-3"><h4>Inprogress</h4></div>
                                                <div class="text-success text-center mt-2"><h3>{{inprogress}}</h3></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card border-danger mx-sm-1 p-3">
                                                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="icon-refresh" aria-hidden="true"></span></div>
                                                <div class="text-danger text-center mt-3"><h4>Revision</h4></div>
                                                <div class="text-danger text-center mt-2"><h3>{{revised}}</h3></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card border-warning mx-sm-1 p-3">
                                                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="icon-compass" aria-hidden="true"></span></div>
                                                <div class="text-warning text-center mt-3"><h4>Completed</h4></div>
                                                <div class="text-warning text-center mt-2"><h3>{{completed}}</h3></div>
                                            </div>
                                        </div>
                                    </div><hr>


                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="box">
                                                        <div class="notifications">
                                                            <i class="fa fa-bell"></i>
                                                            <span class="num" v-if="notification.length>0">{{notification.length}}</span>
                                                            <ul class="chat-l">

                                                                <li class="icon" v-for="post in notification " :key="post.id">
                                                                    <span class="icon"><i class="fa fa-user"></i></span>
                                                                    <span class="text"><a @click="chat(post.order_id)" href="#">ID: {{post.code.toUpperCase()}}</a></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </div>

                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>

        </div>

</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                completed:'',
                inprogress:'',
                revised:'',
                pending:'',
                onhold:'',
                discount:'',
                notification:[],
            }
        },
        created() {
            this.loaddata();
            this.loadNotif();
        },
        methods: {
            loaddata(){
                let uri =`api/auth/client/getOrderData`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.completed = response.data.completed;
                    this.inprogress = response.data.inprogress;
                    this.revised = response.data.revised;
                    this.pending = response.data.pending;
                    this.onhold = response.data.onhold;
                    this.discount = response.data.discount;
                    localStorage.setItem('wallet',response.data.wallet);
                }).catch(error => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            loadNotif(){
                let uri =`api/auth/notifications`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.notification = response.data.notif;
                }).catch(error => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            chat(id){
                this.$router.push({name: 'chat',params: { id: id }});
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
