<template>

        <div class="col-sm-2 border mb-5">
            <!-- Nav tabs -->
            <ul role="tablist" class="nav flex-column dashboard-list">
                <li><router-link :to="{ name: 'home' }" href="#" data-toggle="tab" class="nav-link active">Dashboard</router-link></li>
                <li> <router-link :to="{ name: 'pending' }" href="#" data-toggle="tab" class="nav-link">Queue<span class="badge badge-success">{{pending}}</span></router-link></li>
                <li><router-link :to="{ name: 'inprogress' }" href="#" data-toggle="tab" class="nav-link">Inprogress<span class="badge badge-warning ">{{inprogress}}</span></router-link></li>
                <li><router-link href="#" :to="{ name: 'revised' }" class="nav-link">Revision<span class="badge badge-danger">{{revised}}</span></router-link></li>
                <li><router-link href="#" :to="{ name: 'completed' }" data-toggle="tab" class="nav-link">Completed<span class="badge badge-info">{{completed}}</span></router-link></li>
                <li><router-link href="#" :to="{ name: 'onhold' }" data-toggle="tab" class="nav-link">Onhold<span class="badge badge-primary">{{onhold}}</span></router-link></li>
                <li><router-link :to="{ name: 'refunds' }" href="#" data-toggle="tab" class="nav-link">Refunds</router-link></li>
                <li><router-link :to="{ name: 'eslips' }" href="#" data-toggle="tab" class="nav-link">My Eslips</router-link></li>

            </ul>
        </div>



</template>
<script>

    export default {
        data(){
            return {
                completed:'',
                inprogress:'',
                revised:'',
                pending:'',
                onhold:'',
                discount:'',
                wallet:'',
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =`/api/auth/client/getOrderData`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.completed = response.data.completed;
                    this.inprogress = response.data.inprogress;
                    this.revised = response.data.revised;
                    this.pending = response.data.pending;
                    this.onhold = response.data.onhold;
                    this.discount = response.data.discount;
                    this.wallet = response.data.wallet;
                }).catch(error => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },

        }
    }
</script>
