<template>
    <div>

        <div class="main-content-wrap section-ptb lagin-and-register-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <!-- login-register-tab-list start -->
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> Verify Code </h4>
                                    <p>Hello <b>{{message.name}}</b>  Please enter the code sent to your email or phone</p>
                                </a>
                                <!--                                <a data-toggle="tab" href="#lg2">-->
                                <!--                                    <h4> register </h4>-->
                                <!--                                </a>-->
                            </div>
                            <!-- login-register-tab-list end -->
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="#" method="post" v-on:submit.prevent="getOtp()">
                                                <div class="login-input-box">
                                                    <input type="text" name="user-name" placeholder="Enter the code" v-model="message.code" required>

                                                </div>
                                                <div class="button-box">
                                                    <div class="login-toggle-btn">
                                                        <router-link :to="{name:'forget'}" href="#">Did not receive te code?</router-link>

                                                    </div>
                                                    <div class="button-box">
                                                        <button class="login-btn btn submitbtn3"  type="submit"><span>VERIFY</span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->



    </div>
</template>
<script>

    export default {
        data(){
            return {
                message:{
                    email:localStorage.getItem('user_id'),
                    name:localStorage.getItem('name')
                },
            }
        },
        methods: {
            getOtp() {
                loadbutton3();
                let uri =`/api/auth/verify`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton3();
                    if(response.data.status){
                        this.$router.push({name: 'reset_pass'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});

                    }
                }).catch(error => {
                    stopbutton3();
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                });

            },



        }
    }
</script>
