<template>
    <div>

        <div class="main-content-wrap section-ptb lagin-and-register-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <!-- login-register-tab-list start -->
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> Forget password </h4>
                                </a>
<!--                                <a data-toggle="tab" href="#lg2">-->
<!--                                    <h4> register </h4>-->
<!--                                </a>-->
                            </div>
                            <!-- login-register-tab-list end -->
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="#" method="post" v-on:submit.prevent="getOtp()">
                                                <div class="login-input-box">
                                                    <input type="text" name="user-name" placeholder="Enter email address" v-model="message.user_id" required>

                                                </div>
                                                <div class="button-box">
                                                    <div class="login-toggle-btn">


                                                    </div>
                                                    <div class="button-box">
                                                        <button class="login-btn btn submitbtn3"  type="submit"><span>Get OTP code</span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->



    </div>
</template>
<script>

    export default {
        data(){
            return {
                message:{},
            }
        },
        methods: {
            getOtp() {
                loadbutton3();
                let uri =`/api/auth/getOtp`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton3();
                    if(response.data.status){
                       localStorage.setItem('name',response.data.user.name);
                       localStorage.setItem('user_id',this.message.user_id);
                        this.$router.push({name: 'confirm_pass'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});

                    }
                }).catch(error => {
                    stopbutton3();
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                });

            },

        }
    }
</script>
