<template>
<div>
    <!-- Hero Slider Start -->
    <div class="hero-slider hero-slider-one">
        <!-- Single Slide Start -->
        <div class="single-slide" style="background-image: url(/assets/images/slider/slide-bg-1.jpg)">
            <!-- Hero Content One Start -->
            <div class="hero-content-one container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider-text-info">
                            <h3 class="">Developing high quality essays!</h3>
                            <p>For the rest of the students who constantly ask people around them ‘can you please write my essay for me’, there’s finally a viable solution.</p>
                            <router-link :to="{ name: 'login' }" href="#" class="btn slider-btn uppercase"><span>LOGIN</span></router-link>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="slider-inner-image">
                            <img src="/images/pic1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Content One End -->
        </div>
        <!-- Single Slide End -->
        <!-- Single Slide Start -->
        <div class="single-slide" style="background-image: url(/assets/images/slider/slide-bg-1.jpg)">
            <!-- Hero Content One Start -->
            <div class="hero-content-one container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider-text-info">
                            <h3 class="">Developing high quality essays!</h3>
                            <h2>{{discount}} % off your orders</h2>
                            <p>For the rest of the students who constantly ask people around them ‘can you please write my essay for me’, there’s finally a viable solution.</p>
                            <router-link :to="{ name: 'login' }" href="#" class="btn slider-btn uppercase"><span>LOGIN</span></router-link>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="slider-inner-image">
                            <img src="/images/bg3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Content One End -->
        </div>
    </div>


    <!-- about-area start -->
    <div class="about-area section-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image">
                        <a href="#"><img src="/images/bg5.jpg" alt=""></a>
                        <span class="text_left">Welcome To DevMyEssay</span>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="about-contents">
                        <h3>About Us</h3>
                        <div class="price-box">

                        </div>
                        <p>Devmyessay.com has been established mainly to provide quality research papers to those who are in most in need of them. Ever since we started our operations, our experts have consistently helped clients achieve their desired results. We can proudly say that we are one of the few online research companies that have delivered solid results year in and year out..</p>
                        <router-link :to="{ name: 'login' }" href="#" class="btn shop-btn-two">
                           LOGIN
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area end -->
    <div class="project-count-area pb--70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">97</h2>
                            <span>Active Writers</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">98</h2>
                            <span>Orders in progress</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">167</h2>
                            <span>Completed orders</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-count text-center mb--30">
                        <div class="count-title">
                            <h2 class="count">17</h2>
                            <span>Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonial-area start -->
    <div class="testimonial-area testimonial-bg overlay section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-md-2 col-md-8 col-sm-12">
                    <div class="testimonial-slider">
                        <div class="testimonial-inner text-center">
                            <div class="test-cont">
                                <img src="assets/images/icon/2.png" alt="">
                                <p>"This was my first time using this DevMyEssay writing service. I couldn't be happier. The writer understood exactly what I needed and delivered a great essay for me. He followed all my requirements".</p>
                            </div>
                            <div class="test-author">
                                <h4>Adam Hall</h4>
                                <p>Client</p>
                            </div>
                        </div>
                        <div class="testimonial-inner text-center">
                            <div class="test-cont">
                                <img src="assets/images/icon/2.png" alt="">
                                <p>"It's the most affordable college paper writing service I've used, but it's also the best one. You paid attention to all details. My research paper was a huge success and I appreciate that. Highly recommended for students.".</p>
                            </div>
                            <div class="test-author">
                                <h4>Lia Peterson</h4>
                                <p>Client</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area end -->

</div>
</template>

