<template>
    <div>

        <div class="main-content-wrap section-ptb lagin-and-register-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <!-- login-register-tab-list start -->
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> login </h4>
                                </a>
                            </div>
                            <!-- login-register-tab-list end -->
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="#" method="post" v-on:submit.prevent="login()">
                                                <div class="login-input-box">
                                                    <input type="text" name="user-name" placeholder="Email" v-model="message.email">
                                                    <input type="password" name="user-password" placeholder="Password" v-model="message.password">
                                                </div>
                                                <div class="button-box">
                                                    <div class="login-toggle-btn">
                                                        <input type="checkbox">
                                                        <label>Remember me</label>
                                                        <router-link :to="{name:'forget'}" href="#">Forgot Password?</router-link>
                                                    </div>
                                                    <div class="button-box">
                                                        <button class="login-btn btn submitbtn3"  type="submit"><span>Login</span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content-wrap end -->



    </div>
</template>
<script>

    export default {
        data(){
            return {
                message:{},
            }
        },
        methods: {
            login() {
                loadbutton3();
                let uri =`/api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton3();
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.role === 'writer') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('auth', 'yes');
                                if(response.data.user.password_set==='0'){
                                    this.$notify({group: 'foo', text: 'Please change your current password', type: 'warning', title: 'Warning'});
                                    this.$router.push({name: 'set_password'});
                                }else {
                                    this.$notify({group: 'foo', text: 'Success login', type: 'success', title: 'success'});
                                    this.$router.push({name: 'home'});
                                }
                            } else {
                                this.$notify({group: 'foo', text:'Unauthorized access' , type:'success', title: 'success'});
                            }
                        }else{
                            this.$notify({group: 'foo', text:'Unauthorized access,account inactive' , type:'success', title: 'success'});
                        }

                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    stopbutton3();
                    localStorage.removeItem('token');
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                });

            },

        }
    }
</script>
