<template>
    <div>
        <div class="container">
            <div class="row">
                <Navbar></Navbar>
                <div class="col-lg-10">
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane active" id="dashboard">
                            <h3> </h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="login-register-wrapper">
                                        <!-- login-register-tab-list start -->
                                        <div class="login-register-tab-list nav">
                                            <a data-toggle="tab" href="#lg2">
                                                <h4> Change password </h4>
                                            </a>
                                        </div>
                                        <!-- login-register-tab-list end -->
                                        <h4 class="text-danger text-center">*Please change your password in order to continue*</h4>

                                            <div id="lg2" class="tab-pane active">
                                                <div class="login-form-container">
                                                    <div class="login-register-form">
                                                        <form action="#" method="post" v-on:submit.prevent="updatePassword()">
                                                            <div class="login-input-box">
                                                                <input type="password" name="user-password" placeholder="Current Password" v-model="message.currentpass" required>
                                                                <input type="password" name="user-password" placeholder="New Password" v-model="message.password" required>
                                                                <input type="password" name="user-password" placeholder="Confirm Password" v-model="message.repass" required>
                                                            </div>
                                                            <div class="button-box">
                                                                <button type="submit" class="login-btn btn submitbtn3" ><span>Update</span></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                message:{},
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =`api/auth/user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },

            updatePassword(){
                loadbutton3();
                let uri =`api/auth/updatePassword`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton3();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        localStorage.removeItem('token');
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton3();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            }
        }
    }
</script>
