<template>
    <div>
        <div class="container">
            <div class="row">
                <Navbar></Navbar>
                <div class="col-lg-10">
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane active" id="dashboard">
                            <h3>Eslip Bills</h3>

                            <table class="table table-bordered table-sm">
                                <thead>
                                <tr>
                                    <th >#</th>
                                    <th >Eslip No.</th>
                                    <th>Amount</th>
                                    <th >Date</th>
                                    <th >Order ID</th>
                                    <th >Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post,index) in message" :key="post.id">
                                    <th >{{index+1}}</th>
                                    <th >{{post.eslip_no.toUpperCase()}}</th>
                                    <td>$ {{formatPrice(post.amount)}}</td>
                                    <td > {{post.created_at}}</td>
                                    <td>{{post.code.toUpperCase()}}</td>
                                    <td>{{post.status}}</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                message:[],
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =`/api/auth/eslip_bills/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.eslips;
                    setTimeout(() => { datatable();  }, 1000);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
