<template>
    <div>
        <div class="container">
            <div class="row">
                <Navbar></Navbar>
                <div class="col-lg-10">
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane active" id="dashboard">
                            <h3>Orders Onhold {{message.length}} </h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">

                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                        <tr>
                                            <th >#</th>
                                            <th >Order ID</th>
                                            <th>Title</th>
                                            <th >Deadline</th>
                                            <th >Amount</th>
                                            <th ></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(post,index) in message" :key="post.id">
                                            <td>{{index+1}}</td>
                                            <th >{{post.code.toUpperCase()}}</th>
                                            <td>{{post.title}}</td>
                                            <td>{{post.deadline}}</td>
                                            <td>$ {{formatPrice(+post.amount * +percent/100)}}</td>
                                            <td>  <router-link :to="{name: 'detail', params: { id: post.id }}" ><i title="View" data-id="100" class="icon-eye text-primary"></i></router-link></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                message:[],
                percent:'0',
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =`api/auth/client/onhold`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.orders;
                    this.percent=response.data.percent;
                    setTimeout(() => { datatable();  }, 1000);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
