<template>
    <div>

            <div class="row">
<!--                <Navbar></Navbar>-->
                <div class="col-lg-12">
                            <h3 class="text-center">Orders on Queue {{message.length}} </h3>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">

                                    <div class="single-blog-area">


                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="cart-product-name">Order Title</th>
                                                    <th class="plantmore-product-price">Order ID</th>
                                                    <th class="plantmore-product-quantity">Deadline</th>
                                                    <th class="plantmore-product-subtotal">Cost</th>
                                                    <th class="plantmore-product-subtotal">Pages</th>
                                                    <th class="plantmore-product-remove"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  v-for="post in message" :key="post.id" title="Click to View">
                                                    <td class="plantmore-product-name"><a href="#">{{post.title}}</a></td>
                                                    <td class="plantmore-product-price"><span class="amount"><router-link :to="{name: 'detail', params: { id: post.id }}">{{post.code.toUpperCase()}}</router-link></span></td>
                                                    <td class="">
<!--                                                        <div style="height:120px; overflow:scroll">-->
                                                                <flip-countdown :deadline="post.deadline" ></flip-countdown>
<!--                                                        </div>-->

                                                    </td>
                                                    <td class="plantmore-product-price"><span class="amount"> $ {{formatPrice(+post.amount * +percent/100)}}</span></td>
                                                    <td class="plantmore-product-price"><span class="amount">{{post.pages}} pages</span></td>
                                                    <td class="plantmore-product-remove"><router-link class="btn btn-outline-dark" :to="{name: 'detail', params: { id: post.id }}" href="#"><i class="ion-eye text-success"></i></router-link></td>
                                                </tr>


                                                </tbody>
                                            </table>
                                        </div>



                                    </div>



                            </div>
                        </div>

</div>
                    </div>

</template>
<script>
    import  Navbar from '../view/navbar'
    import FlipCountdown from 'vue2-flip-countdown'
    export default {
        name: 'App',
        components: {
            Navbar,FlipCountdown
        },
        data(){
            return {
                message:[],
                percent:'0',
            }
        },
        created() {
            this.loaddata();
            this.interval = setInterval(() => this.loaddata(), 20000);
        },
        methods: {
            loaddata(){
                let uri =`api/auth/client/orders`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.orders;
                    this.percent=response.data.percent;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
