<template>
    <div>
        <div class="container">
            <div class="row">
                <Navbar></Navbar>
                <div class="col-lg-10">
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane active" id="dashboard">
                            <h3>Refunds {{message.length}} </h3>

                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th >Order ID</th>
                                            <th>Amount</th>
                                            <th >Status</th>
                                            <th >Reason</th>
                                            <th >Comment</th>
                                            <th >Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="post in message" :key="post.id">
                                            <th >{{post.code.toUpperCase()}}</th>
                                            <td>$ {{post.amount}}</td>
                                            <td class="text-info" v-if="post.status==='pending'">{{post.status}}</td>
                                            <td class="text-success" v-else-if="post.status==='approved'">{{post.status}}</td>
                                            <td class="text-danger" v-else>{{post.status}}</td>
                                            <td > {{post.reason}}</td>
                                            <td>{{post.comment}}</td>
                                            <td>{{post.updated_at}}</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                message:[],
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =`api/auth/client/fund/refunds`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.refunds;
                    setTimeout(() => { datatable();  }, 1000);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },

        }
    }
</script>
