<template>
    <div>
        <div class="container">
            <div class="row">
                <Navbar></Navbar>
                <div class="col-lg-10">
                    <div class="tab-content dashboard-content">
                        <div class="tab-pane active" id="dashboard">
                            <h3> {{message.title}}</h3>
                            <flip-countdown :deadline="message.deadline"></flip-countdown>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">



                                        <section class="invoice">
                                            <!-- title row -->
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h2 class="page-header">
                                                        <i class="icon-clock"></i>
                                                        <small class="pull-right">Deadline: {{message.deadline}}</small>
                                                    </h2>
                                                </div><!-- /.col -->
                                            </div>
                                            <!-- info row -->
                                            <div class="row invoice-info">
                                                <div class="col-sm-4 invoice-col">
                                                    Type of Service
                                                    <address>
                                                        <strong>{{message.service}}</strong><br>
                                                        Academic level:<br>
                                                        <strong>{{message.academic}}</strong><br>
                                                        Type of paper<br>
                                                        <strong>{{message.paper}}</strong><br>
                                                        Urgency:<br>
                                                        <strong>{{message.agency}} {{message.prefix}}</strong><br>
                                                        Subject:<br>
                                                        <strong>{{message.subject}}</strong><br>
                                                    </address>
                                                </div><!-- /.col -->
                                                <div class="col-sm-4 invoice-col">
                                                    Pages

                                                        <strong v-if="message.pagespacing==='double'">{{message.pages}} Pages - {{message.pagespacing}} /{{+message.pages * 275}} Words</strong><br>
                                                        <strong v-if="message.pagespacing==='single'">{{message.pages}} Pages - {{message.pagespacing}} /{{+message.pages *550}} Words</strong><br>
                                                        English format:<br>
                                                        <strong>{{message.writer}}</strong><br>
                                                        <div v-if="message.powerpointchecked==='true' || message.powerpointchecked==='1'">
                                                           <br>

                                                            Powerpoint slides<br>
                                                            <strong>{{message.powerpointslides}} slides</strong><br>
                                                        </div>
                                                        Writing Style<br>
                                                        <strong>{{message.style}}</strong><br>
                                                        Sources<br>
                                                        <strong>{{message.sources}}</strong><br>

                                                </div><!-- /.col -->
                                                <div class="col-sm-4 invoice-col">
                                                    <b>Status #{{message.status}}</b><br>
                                                    <br>
                                                    <b>Order ID:</b> {{message.code.toUpperCase()}}<br>
                                                    <b>Date:</b> {{message.updated_at}}<br>
                                                    <b>Order taken:</b> {{message.taken}}<br>

                                                    <b>Quality level:</b> {{message.writerlevel_id}}<br>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->

                                            <!-- Table row -->
                                            <hr>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-10">
                                                    <div class="col-lg-12">
                                                        <p class="single-form-row m-0">
                                                            <label>Order Instructions</label>
                                                            <textarea  class="checkout-mess" v-model="message.instruction" rows="2" cols="5" disabled></textarea>
                                                        </p>

                                                        <div  class="chat chat-left" v-for="post in instructions" :key="post.id">
                                                            <div class="chat-body">
                                                                <div class="chat-content">
                                                                    <p>{{post.instruction}}</p>
                                                                    <time class="chat-time" >{{post.created_at}}</time>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="text-center">UPLOADS</h3>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-10">
                                                    <table class="table table-bordered table-sm">
                                                        <thead>
                                                        <tr>
                                                            <th>File Name</th>
                                                            <th>Date</th>
                                                            <th>Type</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="post in files" :key="post.id">
                                                            <td>{{post.name}}</td>
                                                            <td>{{post.date}}</td>
                                                            <td>{{post.type}}</td>
                                                            <td v-if="post.type==='request'"><a :href="'https://api.devmyessay.com/storage/avatars/'+post.name" class="text-danger">CLIENT UPLOAD <i class="fa fa-download"></i></a></td>
                                                            <td  v-else><a class="text-success" :href="'https://api.devmyessay.com/storage/avatars/'+post.name">MY UPLOAD<i class="fa fa-download"></i></a></td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                            <hr>
                                            <h3 class="text-center">OTHER SERVICES</h3>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <table class="table table-bordered table-sm">
                                                        <thead>
                                                        <tr>
                                                            <th>Service name</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="post in otherservices" :key="post.id">
                                                            <td>{{post.other_service_name}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <!-- accepted payments column -->
                                                <div class="col-md-12">
                                                    <p class="lead">Date: {{message.submited_at}}</p>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>

                                                            <tr>
                                                                <th>Total:</th>
                                                                <td>$ {{formatPrice(+message.amount * +percent/100)}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->

                                            <!-- this row will not appear when printing -->
                                            <div class="row no-print justify-content-center pb-3">
                                                <div class="col-sm-3">
                                                    <button @click="bid()"  v-if="message.taken==='No'" class="btn btn-default btn-block submitbtn3"><i class="fa fa-refresh"></i> TAKE ORDER</button>
                                                </div>
                                                <div class="col-sm-3" v-if="message.taken==='Yes'">
                                                    <a  href="#" v-if="message.status==='inprogress' || message.status==='revised' || message.status==='completed'" data-toggle="modal" data-target="#files" class="btn btn-default btn-block"><i class="fa fa-upload"></i> Upload Answers</a>
                                                </div>
                                            </div>



                                        </section>

                                </div>
                            </div>


                            <hr>
                            <h3 class="text-center">REVISION</h3>
                            <div class="row justify-content-center">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th>Reason</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="post in revision" :key="post.id">
                                            <td>{{post.reason}}</td>
                                            <td v-if="post.status==='pending'" class="text-danger">{{post.status}}</td>
                                            <td v-else class="text-success">{{post.status}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.col -->
                            </div><!-- /.row -->




                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="files" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form id="login-form" action="#" method="post" v-on:submit.prevent="savingFiles()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload files</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="col-lg-12">
                            <p class="single-form-row m-0">
                                <label>Files and uploads</label>
                            <div class="form-group files color">
                                <input type="file" v-on:change="onImageChange" class="order-form-input" multiple="multiple">
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitbtn" class="btn btn-primary" >Save Files</button>
                    </div>
                </div>
                </form>
            </div>
        </div>




        <button @click="chat()" class="open-button" ><i class="fa fa-comment fa-2x"></i><span v-if="count>0" class="badge badge-danger " id="count2">{{count}}</span></button>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    import FlipCountdown from 'vue2-flip-countdown'
    export default {
        name: 'App',
        components: {
            Navbar,FlipCountdown
        },
        data(){
            return {
                message:{},
                files:[],
                instructions:[],
                attachments:[],
                form: new FormData,
                payments:[],
                count:'',
                student_app:'',
                revision:[],
                otherservices:[],
                percent:'0',
            }
        },
        created() {
            this.loaddata();
            this.fetchMessages();
            this.interval = setInterval(() => this.fetchMessages(), 10000);
        },
        methods: {
            fetchMessages(){
                if(this.$route.name==='detail') {
                    let uri = `/api/auth/messages/${this.$route.params.id}`;
                    this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then(response => {
                        this.count = response.data.count;
                    }).catch(error => {
                        if (error.response.status === 401) {
                            this.$router.push({name: 'login'});
                        } else {
                            this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                        }
                    });
                }
            },
            chat(){
                this.$router.push({name: 'chat',params: { id: this.$route.params.id }});
            },
            onImageChange(e){

                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    this.attachments.push(files[i]);
                }
            },
            savingFiles(){
                loadbutton();
                for(let i=0; i<this.attachments.length;i++){
                    this.form.append('files[]',this.attachments[i]);
                }
                let uri =`/api/auth/order/upload/${this.$route.params.id}`;
                this.axios.post(uri,this.form,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton();
                    $("#files").modal("hide");
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.loaddata();
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    $("#files").modal("hide");
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            loaddata(){
                let uri =`/api/auth/client/orders/view/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.percent=response.data.percent;
                    this.message = response.data.orders[0];
                    this.payments = response.data.payments;
                    this.files = response.data.files;
                    this.student_app=response.data.student_app;
                    this.revision=response.data.revision;
                    this.otherservices=response.data.otherservices;
                    this.instructions=response.data.instructions;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            bid(){
                loadbutton3()
                let uri =`/api/auth/order/bid/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                   stopbutton3();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.loaddata();
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton3();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }


        }
    }
</script>
